{% extends "base.njk" %}

{% block content %}
    {{title}}
    {{desc}}
    <form action="/users" method="POST">
        <div>
            <input type="text" name="username" placeholder="User" required>
        </div>
    
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Log In</button>
    </form>
{% endblock %}